/* ===== TEXT ===== */

$text-primary:              #040308;
$text-secondary:            #FFFFFF;
$text-tertiary:             rgb(4, 3, 8, .4);

$text-accent:               #312ECB;
$text-accent-hover:         #4644D2;
$text-accent-active:        #1915D4;

$text-negative:             #E31C1C;
$text-positive: 							#34A853;

/* ================ */


/* ===== BORDER ===== */

$border-primary:            rgb(4, 3, 8, .4);
$border-secondary:          #312ECB;

$border-negative:           #E31C1C;

/* ================== */


/* ===== BACKGROUND ===== */

$background-primary:        #FFFFFF;
$background-secondary:      #040308;
$background-tertiary: rgb(234, 234, 248);
$background-quaternary: rgb(0, 0, 0, .9);

$background-accent:         #312ECB;
$background-accent-hover:   #4644D2;
$background-accent-active:  #1915D4;


$background-negative:       #E31C1C;
$background-negative-hover: #df4040;

/* ====================== */
