/* ===== TEXT ===== */

$text-primary:              #040308;
$text-secondary:            #FFFFFF;
$text-tertiary:             rgb(4, 3, 8, .4);
$text-quaternary:				    #85889e;

$text-accent:               #312ECB;
$text-accent-hover:         #4644D2;
$text-accent-active:        #1915D4;

$text-negative:             #E31C1C;
$text-positive: 						#34A853;

/* ================ */


/* ===== BORDER ===== */

$border-primary:            rgb(4, 3, 8, .4);
$border-secondary:          #312ECB;

$border-negative:           #E31C1C;

/* ================== */


/* ===== BACKGROUND ===== */

$background-primary:        #FFFFFF;
$background-secondary:      #040308;
$background-tertiary:       #F4F5F8;
$background-quaternary: rgb(0, 0, 0, .9);

$background-accent:         #312ECB;
$background-accent-hover:   #4644D2;
$background-accent-active:  #1915D4;


$background-negative:       #E31C1C;
$background-negative-hover: #df4040;
$background-negative-tr:		rgb(227, 28, 28, .2);

$background-positive:			  #34A853;
$background-positive-tr:		rgb(52, 168, 83, .2);

/* ====================== */


/* ===== BOX SHADOW ===== */

$box-shadow-primary:   			rgb(4, 3, 8, .2);

/* ====================== */
